
body{
	background-color:DarkGray;
}

#NavBar {
	margin-top:14px;
	margin-left:-3px;
}
#NavBar a {
	margin-top:100px;
	font-family: Arial;
	font-size:15px;
	text-decoration: none;
	padding: 15px;
	background-color: #2175bc;
	color: #fff;
	margin-left:-5px;
}

#NavBar a:hover {	
	background-color: #2586d7;
	margin-top:-2px;
	padding-bottom:12px;
}
