<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>{% block title %}Espionatge{% endblock %}</title>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/cases/">Cases</a></li>
            <li><a href="/clients/">Clients</a></li>
            <li><a href="/detectives/">Detectives</a></li>
			<li><a href="/suspects/">Suspects</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
