<!DOCTYPE html>
<html lang="en">
	<head>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static "base.css" %}"media="screen" />
		<title>{% block title %}Espionatge{% endblock %}</title>
			
		 <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
		<link rel="stylesheet" href="/resources/demos/style.css" />

	</head>
		
	<body>
		<div id="NavBar">
			<a href="/">Home</a>
		    <a href="/cases/">Cases</a>
		    <a href="/clients/">Clients</a>
		    <a href="/detectives/">Detectives</a>
			<a href="/suspects/">Suspects</a>
			
			{% if user.is_authenticated %}
				<a href="/login/">Logout</a>
				<p> Logged in as: {{user}} </p>
			{% else %}
				<a href="/login/">Login</a>
				<a href="/register/">Register</a>
				<p> Not logged in </p>
			{% endif %}

		</div>
		
		<div id="pageSize">
		
			<div id="content">
				{% block content %}{% endblock %}
			</div>
		
		</div>
	</body>
</html>
