{% extends "base.html" %}

{% block title %}Case{% endblock %}

{% block content %}
<div id="Route" align="left">
    <a href="/">Home</a><a> > </a>
    <a href="/cases/">Cases</a><a> > </a>
    <a>Case</a>
</div>
<div align="center">
<table border="1" cellpadding="3" width="300" cellspacing="0">
	<tbody align="center">
	<tr> 
		<th>Name</th>
		<td>{{case.name}}</td>
	<tr>
	<tr> 
		<th>Client/s</th>
		<td>{{case.client}}</td>
	<tr>
	<tr> 
		<th>Suspect/s</th>
		<td>{{case.suspect}}</td>
	<tr>
	<tr> 
		<th>Detective/s</th>
		<td>{{case.detective}}</td>
	<tr>
	<tr> 
		<th>Total price</th>
		<td>{{case.price}}</td>
	<tr>
	</tbody>
</table>
</div>
{% endblock %}

