{% extends "base.html" %}

{% block title %}Case{% endblock %}

{% block content %}
<table border="1" cellpadding="3" width="300" cellspacing="0">
	<tbody align="center">
	<tr> 
		<th>Name</th>
		<td>{{case.name}}</td>
	<tr>
	<tr> 
		<th>Client/s</th>
		<td>{{case.client}}</td>
	<tr>
	<tr> 
		<th>Suspect/s</th>
		<td>{{case.suspect}}</td>
	<tr>
	<tr> 
		<th>Detective/s</th>
		<td>{{case.detective}}</td>
	<tr>
	<tr> 
		<th>Total price</th>
		<td>{{case.price}}</td>
	<tr>
	</tbody>
</table>

{% endblock %}

