{% extends "base.html" %}

{% block title %}Case{% endblock %}

{% block content %}
<div id="Route" align="left">
    <a href="/">Home</a><a> > </a>
    <a href="/cases/">Cases</a><a> > </a>
    <a>{{case.name}}</a>
</div>
<div align="center">
<table border="1" cellpadding="3" width="300" cellspacing="0">
	<tbody align="center">
	<tr> 
		<th>Name</th>
		<td>{{case.name}}</td>
	</tr>
	<tr> 
		<th>Client/s</th>
		<td></td>
	</tr>
	{% for client in case.clients.all %}
	<tr>
		<th></th>
		<td><a href='/clients/{{client.id}}'>{{client}}</a></td>
	</tr>
	{% endfor %}
	<tr> 
		<th>Suspect/s</th>
		<td></td>
	</tr>
	{% for suspect in case.suspects.all %}
	<tr>
		<th></th>
		<td><a href='/suspects/{{suspect.id}}'>{{suspect}}</a></td>
	</tr>
	{% endfor %}
	<tr> 
		<th>Detective</th>
		<td><a href='/detectives/{{case.detective.id}}'>{{case.detective}}</a></td>
	</tr>
	<tr> 
		<th>Total price</th>
		<td>{{case.price}}</td>
	<tr>
	</tbody>
</table>
</div>
</div>

{% if user.is_authenticated %}

	<div align="center">
		<form action="edit/">
	    	<input type="submit" value="Edit">
		</form>
	</div>

{% endif %}

	<h2>Reviews</h2>
	<ul>
		{% for review in case.reviews %}
			<li>
				<p>{{ review.rating }} star{{ review.rating|pluralize }}</p>
				<p>{{ review.comment }}</p>
				<p>Created in {{ review.date }}</p>
			</li>
		{% endfor %}
	</ul>

	<h3>Add	Review</h3>
		<form action="/cases/{{case.id}}/reviews/create/" method="post">
		{% csrf_token %}
			Message: <textarea name="comment" id="comment" rows="4"></textarea>
			<p>Rating:</p>
			<p>{% for rate in RATING_CHOICES %}
				<input type="radio" name="rating" id="rating{{ forloop.counter }}" value="{{ rate.1	}}" />
				<label for="choice {{ forloop.counter }}">{{ rate.1	}} star{{ rate.0|pluralize }}</label>
				<br/>
			{% endfor %}
			</p>
		<input type="submit" value="Review"/>
		</form>


{% endblock %}

