{% extends "base.html" %}
<html lang="en">
	<head>
		{% block title %}Client{% endblock %}
	</head>
{% block content %}

<div id="Route" align="left">
    <a href="/">Home</a><a> > </a>
    <a href="/clients/">Clients</a><a> > </a>
    <a>Client</a>
</div>
		
<div align="center">
<table border="1" cellpadding="3" width="300" cellspacing="0">
	<tbody align="center">
	<tr> 
		<th>Client name</th>
		<td>{{client.name}}</td>
	<tr>
	<tr> 
		<th>Hide identity</th>
		<td>{{client.hide_id}}</td>
	<tr>
	</tbody>
</table>	
</div>
{% endblock %}
