{% extends "base.html" %}

{% block title %}Detective{% endblock %}

{% block content %}

<div id="Route" align="left">
    <a href="/">Home</a><a> > </a>
    <a href="/detectives/">Detectives</a><a> > </a>
    <a>{{detective.name}}</a>
</div>

<div align="center">
<table border="1" cellpadding="3" width="300" cellspacing="0">
	<tbody align="center">
	<tr> 
		<th>Name or alias</th>
		<td>{{detective.name}}</td>
	<tr>
	<tr> 
		<th>Rate (/hour)</th>
		<td>{{detective.rate}}</td>
	<tr>
	<tr> 
		<th>Experience (in years)</th>
		<td>{{detective.experience}}</td>
	<tr>
	</tbody>
</table>
</div>
{% endblock %}
