{% extends "base.html" %}

{% block title %}Detectives{% endblock %}

{% block content %}
	
	<div id="Route" align="left">
			    <a href="/">Home</a><a> > </a>
			    <a>Detectives</a>
	</div>
	Detectives
	
	<table align="center" border="1" cellpadding="3" width="300" cellspacing="0">
	{% for detective in detectives %}
		<tr> 
			<td><a href='{{detective.id}}'>{{detective.name}}</a></td>
			{% if user.is_authenticated %}
				<td><a href='{{detective.id}}/edit'>Edit</a></td>
				<td><a href='{{detective.id}}/delete'>Delete</a></td>
			{% endif %}	
		<tr>
	{% endfor %}
	</table>
	
{% endblock %}
