{% extends "base.html" %}

{% block title %}Detective {{detective.name}}{% endblock %}

{% block content %}


<div id="Route" align="left">
    <a href="/">Home</a><a> > </a>
    <a href="/detectives/">Detectives</a><a> > </a>
    <a>{{detective.name}}</a>
</div>

<div align="center">
	<div vocab="http://schema.org/" typeof="Person">
		<span property="jobTitle" content = "Detective"></span>
		
		<table border="1" cellpadding="3" width="300" cellspacing="0">
			<tbody align="center">
			<tr> 
				<th>Name or alias</th>
				<td><span property="name">{{detective.name}}</span></td>
			<tr>
			<tr> 
				<th>Rate (/hour)</th>
				<td>{{detective.rate}}</td>
			<tr>
			<tr> 
				<th>Experience (in years)</th>
				<td>{{detective.experience}}</td>
			<tr>
			</tbody>
		</table>
	</div>
</div>

{% if user.is_authenticated %}

	<div align="center">
		<form action="edit/">
	    	<input type="submit" value="Edit">
		</form>
	</div>
	
{% endif %}
{% endblock %}
