{% extends "base.html" %}

{% block title %}Suspects{% endblock %}

{% block content %}

<div id="Route" align="left">
    <a href="/">Home</a><a> > </a>
    <a href="/suspects/">Suspects</a><a> > </a>
    <a>{{suspect.name}}</a>
</div>

<div align="center">
<table border="1" cellpadding="3" width="300" cellspacing="0">
	<tbody align="center">
	<tr> 
		<th>Name</th>
		<td>{{suspect.name}}</td>
	<tr>
	<tr> 
		<th>Delictive history</th>
		<td>{{suspect.history}}</td>
	<tr>
	</tbody>
</table>
</div>
</div>

{% if user.is_authenticated %}

	<div align="center">
		<form action="edit/">
	    	<input type="submit" value="Edit">
		</form>
	</div>

{% else %}


{% endif %}
{% endblock %}
